nav{
    background-color: rgb(49, 225, 213);

    & a{
        color: white;
        text-decoration: none;
    }
    & .container{
        max-width: 1170px;
        margin: 0 auto;
    }
    & .nav_con{
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        & ul{
            display: flex;
            list-style: none;
            
            & li {
                margin: 0 35px;
            }
        }
        & .button{
            width: 80px;
            height: 30px;
            background-color: rgb(92, 121, 209);
            display: flex;
            justify-content:  center;
            align-items: center;
            border-radius: 20px;
            transition: 0.3s;
            cursor: pointer;

            & :hover{
                box-shadow: 0 0 20px 0px color(black);

            }
        }
    }
}
